/* universal styling */
/* font-weight: olive 300 400 condenesed 400 */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --primary-color: #9AAEB7; 
    /* color test #9AAEB7 blue  or #72611E green*/
    --secondary-color: #F5E8D7;
    --accent-color: #3F1E16;   /* this can also be used as default font color */
    --main-font: antique-olive, sans-serif;
    --side-color: ;
}
body, p{
    background-color: #eeebe7;
    font-family: var(--main-font);
    color: var(--accent-color);
    text-align: center;
    letter-spacing: .9px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 300;
}
a:hover{
    color: var(--accent-color);
}
h1, h2, h3, h4, h5{
    font-weight: 400;
    font-family: antique-olive-condensed, sans-serif;
}
ul, ol{
    list-style: none;
    text-align: left;
}
@media screen and (min-width: 320px), (max-width: 768px) {
    /* try the javascript trick for changing a picture */
    body{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    header{
        margin: 9px 0px 19px 0px;
        background-color: var(--primary-color);
        padding: 0px 0px 14px 0px;
        position: fixed;
        z-index: 1000;
        top: -20px;
        width: 100%;
    }
    header img{
        visibility: hidden;
        max-width: 30px;
        min-width: 10px;
        width: 100%;
    }
    header h2{
        visibility: visible;
        color: var(--secondary-color);
    }
    nav{
        margin: 0 auto;
        word-spacing: 2em;
        text-align: center;
    }
    nav a{
        font-size: 19px;
    }
    main{
        max-width: 490px;
        min-width: 310px;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 5%;
        /* padding-top: 6em; */
        position: relative;
        top: 6.5em;
    }
    section{
        padding-bottom: 5%;
        padding-top: 0%;
    }
    .welcome{
        /* border-top: var(--primary-color) 2.7px solid; */
        border-bottom: var(--primary-color) 2.7px solid;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .brandMark img{
        visibility: hidden;
        width: 0%;
    }
    .herbs p{
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .herbs img{
        max-width: 200px;
        min-width: 90px;
        width: 100%;
    }
    .astrology{
        border: var(--primary-color) 2.9px solid;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 6px;
        margin-bottom: 10px;
    }
    .astrology p{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .edu p{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .learning p{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .resource{
        padding-top: 3%;
        padding-left: 2%;
        border-top: var(--primary-color) 3px solid;
        border-bottom: var(--primary-color) 3px solid;
    }
    
    footer{
        width: 100%;
        margin-top: 10px;
        padding-bottom: 5%;
        position: relative;
        top: 6em;
    }
}

@media screen and (min-width: 1024px), (min-width: 1440px) {
    body{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        position: fixed;
        z-index: 1000;
        top: -1;
        margin: 0 auto;
        padding: 15px 0px 1px 0px;
    }
    header h2{
        visibility: hidden;
    }
    header img{
        margin-left: 40px;
        max-width: 130px;
        min-width: 10px;
        width: 100%;
        height: auto;
        visibility: visible;
    }
    header nav{
        align-self: center;
        margin-right: 60px;
    }
    header a{
        font-weight: 400;
        color: var(--secondary-color);
        letter-spacing: 2px;
        font-size: 20px;
        
    }
    header a:hover{
        color: var(--accent-color);
    }
    main{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1300px;
        min-width: 1000px;
        width: 100%;
        
    }
    .welcome{
        /* border-top: var(--primary-color) 3px solid; */
        border-top: none;
        border-bottom: var(--primary-color) 3px solid;
        margin-bottom: 19px;
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .brandMark img {
        margin-left: 40px;
        max-width: 500px;
        min-width: 290px;
        width: 100%;
        height: auto;
        visibility: visible;
    }
    .contentWelcome{
        margin-left: 25px;
    }
    .contentWelcome h1{
        font-size: 2em;
        padding-bottom: 10px
    }
    .contentWelcome p{
        line-height: 25px;
        font-size: 1.6em;
    }
    h1{
        margin-bottom: 10px;
    }
    .herbs{
        display: flex;
        flex-direction: row;
    }
    .herbs h2{
        margin-bottom: 15px;
    }
    .herbs img{
        max-width: 200px;
        min-width: 90px;
        width: 100%;
    }
    .astrology{
        display: flex;
        flex-direction: row;
        margin-top: 9px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .edu{
        display: flex;
        flex-direction: row;
    }
    .topic h2{
        margin-bottom: 7px;
    }
    .topic{
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .learning{
        padding-left: 15px;
        padding-right: 15px;
    }
    .learning p{
        text-align: left;
    }
    .resource{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: left;
    }
    /* footer{
        
    } */
}