/* universal styling */
/* font-weight: olive 300 400 condenesed 400 */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --primary-color: #72611E;
    --secondary-color: #DED5C8;
    --accent-color: #200F0F;   /* this can also be used as default font color */
    --main-font: antique-olive, sans-serif;
    --side-color: ;
}
body, p{
    background-color:#F5E8D7;
    font-family: var(--main-font);
    color: var(--accent-color);
    text-align: center;
    letter-spacing: .9px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 300;
}
a:hover{
    color: var(--accent-color);
}
h1, h2, h3, h4, h5{
    font-weight: 400;
    font-family: antique-olive-condensed, sans-serif;
}
ul{
    list-style: none;
    text-align: justify;
}
@media screen and (min-width: 320px), (max-width: 768px) {
    /* try the javascript trick for changing a picture */
    body{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    header{
        margin: 9px 0px 19px 0px;
        background-color: var(--primary-color);
        padding: 0px 0px 14px 0px;
        position: fixed;
        z-index: 1000;
        top: -20px;
        width: 100%;
    }
    header img{
        visibility: hidden;
        max-width: 30px;
        min-width: 10px;
        width: 100%;
    }
    header h2{
        visibility: visible;
        color: var(--secondary-color);
    }
    nav{
        margin: 0 auto;
        word-spacing: 2em;
        text-align: center;
    }
    nav a{
        font-size: 19px;
    }
    main{
        max-width: 490px;
        min-width: 310px;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 5%;
        /* padding-top: 6em; */
        position: relative;
        top: 6.5em;
    }
    section{
        padding-bottom: 5%;
        padding-top: 0%;
    }
    .welcome{
        border-bottom: #200F0F 2.7px solid;
        border-top: #200F0F 2.7px solid;
        padding-top: 2%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .herbs p{
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .astrology{
        border: #200F0F 2.7px solid;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .astrology p{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .edu p{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .learning p{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .resource{
        padding-top: 3%;
        padding-left: 2%;
        border: #200F0F 3px solid;
    }
    
    footer{
        width: 100%;
        margin-top: 10px;
        padding-bottom: 5%;
        position: relative;
        top: 6em;
    }
}

@media screen and (min-width: 1024px), (min-width: 1440px) {
    body{
        /* display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ; */
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: fixed;
        z-index: 1000;
        top: -1;
        margin: 0 auto;
        padding: 15px 0px 1px 0px;
    }
    header h2{
        visibility: hidden;
    }
    header img{
        margin-left: 40px;
        max-width: 130px;
        min-width: 10px;
        width: 100%;
        height: auto;
        visibility: visible;
    }
    header nav{
        align-self: center;
        
    }
    header a{
        font-weight: 400;
        color: var(--secondary-color);
        letter-spacing: 2px;
    }
    header a:hover{
        color: var(--accent-color);
    }
    main{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1300px;
        min-width: 1000px;
        width: 100%;
        
    }
    .welcome{
        border-bottom: #200F0F 2.7px solid;
        border-top: #200F0F 2.7px solid;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .herbs{
        display: flex;
        flex-direction: row;
    }
    .astrology{
        display: flex;
        flex-direction: row;
        margin-top: 9px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .edu{
        display: flex;
        flex-direction: row;
    }
    .topic h2{
        margin-bottom: 7px;
    }
    .topic{
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .learning{
        padding-left: 15px;
        padding-right: 15px;
    }
    .learning p{
        text-align: left;
    }
    /* footer{
        
    } */
}